<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Hello Utah Elixir!
      </h1>
      <h2 class="subtitle">
        The most friendly Elixir community.
      </h2>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <p>&nbsp;</p>
    <div class="columns">
      <div class="column is-3 content has-text-centered">
        <h2>Elixir Books</h1>
      </div>

      <div class="column">
        <table class="table is-striped is-hoverable is-fullwidth">
          <thead>
            <tr>
              <th>ID</th>
              <th style="width: 70%">Title</th>
              <th>Author</th>
            </tr>
          </thead>
          <tbody>
            <%= for book <- @books do %>
              <tr>
                <td><%= book.id %></td>
                <td><%= book.title %></td>
                <td><%= book.author.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
